/SteamEx/.vs
/SteamEx/Library
/SteamEx/Logs
/SteamEx/obj
/SteamEx/*.csproj
/SteamEx/*.sln
/SteamEx/Temp 
/SteamEx/.vscode
/SteamEx/.vs
/SteamEx/Library
/SteamEx/Logs
/SteamEx/obj
/SteamEx/*.csproj
/SteamEx/*.sln
/SteamEx/Temp
/SteamEx/.vs
/SteamEx/Library
/SteamEx/Logs
/SteamEx/obj
/SteamEx/*.csproj
/SteamEx/*.sln
/SteamEx/Temp
/SteamEx/.vscode
/SteamEx/assetbundles
/.idea
/SteamEx/*.vsconfig
/SteamEx/.idea
/SteamEx/.idea
/SteamEx/penguin1.0.1_BackUpThisFolder_ButDontShipItWithYourGame
/SteamEx/Jump2025Penguin_BurstDebugInformation_DoNotShip
/SteamEx/UserSettings
*.psd
/SteamEx/SteamEx.sln.DotSettings.user
/SteamEx/UserSettings/Layouts/default-2022.dwlt
/build
/release
